<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>$VAR[Secondary_Color]</backgroundcolor>
	<defaultcontrol always="true">9001</defaultcontrol>
	<onload>ClearProperty(SettingsCategory_Switcher,home)</onload>
	<controls>

		<!-- Delay content on Load -->
		<include content="Delay_Content_Load">
			<param name="id" value="9001"/>
			<param name="time" value="0"/>
			<param name="target_id" value="ReplaceWindowAndFocus(skinsettings,9001)"/>
		</include>

	</controls>
</window>
