<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<defaultcontrol always="true">9001</defaultcontrol>
	<backgroundcolor>$VAR[Global_Fanart_Slideshow_Background_Color]</backgroundcolor>
	<controls>
		<include content="Focus_Setter">
			<param name="target_id" value="ReplaceWindowAndFocus(skinsettings,9001)"/>
		</include>
	</controls>
</window>
