<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>$VAR[Secondary_Color]</backgroundcolor>
	<defaultcontrol always="true">9001</defaultcontrol>
	<include>Delayed_Dialog_Fade_Animation</include>
	<controls>

		<!-- Delay content on Load -->
		<include content="Delay_Content_Load">
			<param name="id" value="9001"/>
			<param name="time" value="1080"/>
			<param name="target_id" value="SetFocus(9002,0,absolute)"/>
		</include>

		<include>DialogFanartSlideshow</include>

		<!-- Content -->
		<control type="group">
			<visible>Window.IsActive(settings)</visible>
			<control type="group">
				<visible>!$EXP[TransparentDialog_IsVisible] + !Control.HasFocus(9001)</visible>
				<include>Content_Fade_Animation</include>

				<include content="Transparent_Dialog_Panel"/>

				<include content="Breadcrumb_Label">
					<param name="visible" value="true"/>
					<param name="label_color" value="$VAR[Light_Color]"/>
				</include>

				<include content="DialogDivider">
					<param name="left" value="780"/>
				</include>

				<control type="image">
					<left>240</left>
					<width>360</width>
					<centertop>50%</centertop>
					<height>360</height>
					<aspectratio>keep</aspectratio>
					<texture align="center" aligny="center">logo.png</texture>
				</control>

				<include content="Simple_List">
					<param name="id" value="9002"/>
					<param name="left" value="840"/>
					<param name="include" value="Settings_Content"/>
				</include>

				<include content="ButtonGroup">
					<param name="onleft" value="9002"/>
					<param name="onup" value="9002"/>
					<param name="buttonsvisible" value="true"/>
					<param name="button1visible" value="true"/>
					<param name="button1id" value="301"/>
					<param name="button1onclick" value="Close"/>
				</include>

			</control>
		</control>

	</controls>
</window>
